.basic_info_section {
  width: 100%;
  height: 95vh;
  background-color: #000015;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background: linear-gradient(180deg, #000015 0%, #2d2273 100%);
}

.planet_container {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  position: relative;
  height: 600px;
  width: 600px;
  z-index: 1;
}

.absolute {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info_container {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-direction: column;
  padding-left: 4em;
  box-sizing: border-box;
}

.info_container .info-text {
  text-align: left;
}

.info_container .info-text h1 {
  font-size: 3em;
  margin-top: 0;
}

.info_container .info-text ul {
  list-style-image: require("../assets/icons/bullet.svg");
}

.info_container .info-text li {
  font-size: 1.2em;
  padding: 0.3em 0;
}

.stats_container {
  display: flex;
  width: 80%;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.stats_container .stars {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.stats_container .stars h2 {
  margin: 0;
  padding: 0.5em 0;
}

.rating {
  font-size: 1.5rem;
}

.rating i {
  padding: 0.2em;
  color: #a093f4;
}

.environment_section,
.aliens_section {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.heroimg {
  width: 100px;
  height: 100px;
}

h1 {
  text-shadow: 0 0 30px #000015;
  font-size: 3em;
}

.environment_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  height: 40%;
}

.environment_info p {
  margin: 0.5em;
  text-shadow: 0 0 4px black;
  line-height: 1.6;
  font-size: 1.1em;
}

.attractions_section {
  width: 100%;
  height: 170vh;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.attractions_section .hero_image {
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #000036;
  background: linear-gradient(180deg, #000036 0%, #2d2273 100%);
}

.attractions_section .hero_image .heroimg {
  width: 100px;
  height: 100px;
}

.attractions_section .hero_image h1 {
  color: white;
  font-size: 3rem;
  margin: 0.3em;
}

.attractions_section .content_container {
  display: flex;
  width: 100%;
  height: 40%;
  align-items: center;
}

.attractions_section .content_container:nth-child(2) {
  flex-direction: row-reverse;
}

.attractions_section .content_container .graphic_banner {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2D2273;
}

.attractions_section .content_container .graphic_banner .planet {
  width: 90%;
  height: 80%;
}

.attractions_section .content_container .graphic_banner img {
  object-fit: cover;
  object-position: 50% 50%;
}

.attractions_section .content_container .text_banner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
  height: 100%;
  background: #2d2273;
}

.attractions_section .content_container .text_banner .text_control {
  width: 70%;
  height: auto;
}

.attractions_section .content_container .text_banner h1 {
  font-size: 3rem;
}

.attractions_section .content_container .text_banner p {
  margin: 0;
}

.aliens_section {
  background-image: url("../assets/parallax/alien_hero.jpg");
  min-height: 92vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.aliens_section_text {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-shadow: 0 0 10px #000015;
  background: linear-gradient(45deg, #000015 0%, #2d2273 100%);
  padding: 2em;
  position: relative;
  right: 23%;
}

.aliens_section_text h2 {
  font-size: 3rem;
}

.aliens_section_text h3 {
  font-size: 1.5rem;
}

.aliens_section_text p {
  width: 80%;
  text-shadow: 0 0 5px #000015;
}

@media only screen and (max-width: 1200px) {
  .basic_info_section {
    display: flex;
    flex-direction: column;
  }
  .basic_info_section .planet_container {
    width: 100%;
  }
}

@media only screen and (max-width: 736px) {
  .basic_info_section {
    display: flex;
    flex-direction: column;
  }
  .basic_info_section .planet_container {
    width: 100%;
  }
  .basic_info_section .info_container {
    width: 100%;
    align-items: center;
    padding-bottom: 4em;
    padding-left: 0;
  }
  .basic_info_section .info_container h1 {
    text-align: center;
  }
  .basic_info_section .info_container ul {
    padding-inline-start: 20px;
  }
  .environment_section {
    padding-top: 3em;
    width: 100%;
  }
  .environment_section .environment_info {
    width: 80%;
  }
  .stats_container {
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .attractions_section {
    height: 300vh;
  }
  .attractions_section .content_container {
    flex-direction: column;
    display: flex;
  }
  .attractions_section .content_container:nth-child(2) {
    flex-direction: column;
  }
  .attractions_section .content_container .text_banner {
    width: 100%;
    height: 50%;
  }
  .attractions_section .content_container .graphic_banner {
    width: 100%;
    height: 50%;
  }
  .aliens_section {
    background-image: url("../assets/parallax/alien_hero.jpg");
    min-height: 92vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .aliens_section_text {
    width: 80%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-shadow: 0 0 10px #000015;
    background: linear-gradient(45deg, #000015 0%, #2d2273 100%);
    padding: 2em;
    position: relative;
    right: 0%;
  }
  .aliens_section_text h2 {
    font-size: 2rem;
  }
  .aliens_section_text h3 {
    font-size: 1rem;
  }
  .aliens_section_text p {
    width: 80%;
    text-shadow: 0 0 5px #000015;
  }
}
