

a {
  text-decoration: none;
}

.basic_info_section {
  width: 100%;
  height: 95vh;
  background-color:$bgcolor;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background: linear-gradient(180deg, rgba(0, 0, 21, 1) 0%, #2d2273 100%);
}

.planet_container {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}



.info_container {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-direction: column;
  padding-left: 4em;
  box-sizing: border-box;
  .info-text {
    text-align: left;
    margin: 2em;

    h1 {
      font-size: 3em;
      margin-top: 0;
    }

    ul {
      
      font-family: 'Montserrat Alternates', sans-serif;
      width: 80%;
    }

    li {
      font-size: 1.2em;
      padding: 0.3em 0;
    }
  }
}
.stats_container {
  display: flex;
  width: 80%;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

  .stars {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h2 {
      margin: 0;
      padding: 0.5em 0;
    }
  }
}

.rating {
  font-size: 1.5rem;

  i {
    padding: 0.2em;
    color: #a093f4;
  }
}

.kepler_environment_section .gliese_environment_section .proxima_environment_section .aliens_section {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}



  .heroimg {
    width: 100px;
    height: 100px;
  }
  h1 {
    text-shadow: 0 0 30px $bgcolor;
    font-size: 3em;
  }
  .environment_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 40%;

    p {
      margin: 0.5em;
      text-shadow: 0 0 4px black;
      line-height: 1.6;
      font-size: 1.1em;
    }
  }


.attractions_section {
  width: 100%;
  height: 170vh;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  background-color:#2D2273;

  .hero_image {
    width: 100%;
    height: 20%;
    padding: 2em 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(0, 0, 54);
    background: linear-gradient(180deg, rgba(0, 0, 54, 1) 0%, #2d2273 100%);

    .heroimg {
      width: 100px;
      height: 100px;
    }
    h1 {
      color: white;
      font-size: 3rem;
      margin: 0.3em;
    }
  }
  .content_container {
    display: flex;
    width: 100%;
    height: 40%;
    align-items: center;
    padding: 0 0 2em 0;

    &:nth-child(2) {
      flex-direction: row-reverse;
    }
    .graphic_banner {
      width: 50%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color:#2D2273;

      .planet {
        width: 90%;
        height:80%;
      }

      img {
        object-fit: cover;
        object-position: 50% 50%;
      }
    }
    .text_banner {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 50%;
      height: 100%;

      .text_control {
        padding: 0 0 2em 0;
      }
      

      background: #2d2273;
      .text_control {
        width: 70%;
        height: auto;
      }
      h1 {
        font-size: 3rem;
      }
      
      p
      {margin:0}
    }
  }
}

.aliens_section {
  background-image: url("../assets/parallax/alien_hero.jpg");
  min-height: 92vh;
  display: flex;
  align-items: center;
  justify-content: center;

  &_text {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-shadow: 0 0 10px $bgcolor;
    background: linear-gradient(45deg, rgba(0, 0, 21, 1) 0%, #2d2273 100%);
    padding: 2em;
    position: relative;
    right: 23%;

    h2 {
      font-size: 3rem;
    }

    h3 {
      font-size: 1.5rem;
    }

    p {
      width: 80%;
      text-shadow: 0 0 5px $bgcolor;
    }
  }
}


.section-dark {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 30vh;
}

.container-link {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height:100%;

  h2 {
    font-size: 2rem;
  }
}

@media only screen and (max-device-width: 1366px) {
  
.aliens_section .kepler_environment_section .gliese_environment_section .proxima_environment_section 
{
  
  background-attachment: scroll;
}
}

@media only screen and (max-width: 1200px) {
  .basic_info_section {
    display: flex;
    flex-direction: column;


    .info_container {
      width: 90%;
      height: 40%;
      padding-left: 0;
      align-items: center;
      justify-content: space-around;
      flex-direction: row;

      .stats_container {
        width: 60%;
      }

    }

    .planet_container {
      width: 100%;
      height: 60%;

      
    }
}}

@media only screen and (max-width: 770px) {
  .basic_info_section {
    display: flex;
    flex-direction: column;
    height: auto;

    .planet_container {
      height: 50%;
      width: 100%;
    }
    .info_container {
      height: 50%;
      width: 100%;
      align-items: center;
      padding-bottom: 4em;
      padding-left: 0;
      flex-direction: column;

      .info-text {
        margin-left:6.5em;
      };

      h1 {
        text-align: center;
      }

      ul {
        padding-inline-start: 20px;
      }

      .stats_container {
        flex-direction: column;
        flex-wrap: nowrap;
      }
    }
  }

  .environment_section {
    padding-top: 3em;
    width: 100%;

    .environment_info {
      width: 80%;
      text-align: left;
      margin-left: 4em;
    }
  }

  .stats_container {
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .attractions_section {
    height: auto;
    .content_container {
      flex-direction: column;
      display: flex;
      &:nth-child(2) {
        flex-direction: column;
      }

      .text_banner {
        width: 100%;
        
        
        .text_control {

          width: 80%;

          p {text-align: left;
            margin-left: 1em;}

        }

        

        
      }

      .graphic_banner {
        width: 100%;
        height: auto;
        .planet{
          width:100%;
          height: auto;
        }
      }
    }
  }

  .attractions_section .hero_image h1 {
    font-size: 2rem;
  }

  .attractions_section .content_container .text_banner h1 {
    font-size: 2rem;
  }

  .aliens_section {
    background-image: url("../assets/parallax/alien_hero.jpg");
    min-height: 92vh;
    display: flex;
    align-items: center;
    justify-content: center;

    &_text {
      width: 70%;
      height: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      text-shadow: 0 0 10px $bgcolor;
      background: linear-gradient(45deg, rgba(0, 0, 21, 1) 0%, #2d2273 100%);
      padding: 2em;
      position: relative;
      right: 0%;

      h2 {
        font-size: 2rem;
      }

      h3 {
        font-size: 1rem;
      }

      p {
        width: 100%;
        text-align: left;
        font-size: .7rem;

      }
    }
  }

  .section-dark {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: auto;
  }
  
  .container-link {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
   height: 20%;
   padding: 2em 0;
  
    h2 {
      font-size: 1rem;
      padding-right: 1em;
      margin: .2em;
    }

    h3 {
      margin: .1em;
    }
  }


}
